#main-container {
	margin-top: 80px;
}
.link-card {
	padding: 5px;
	&.masonry-brick {
		padding: 0px;
	}
	img {
		width: 100%;
	}
	h4 {
		word-wrap: break-word;
	}
	.panel-image {
		position: relative;
		overflow: hidden;
		text-align: center;
		img {
			// max-width: 480px;
			margin-left: auto;
			margin-right: auto;
		}
		.image-pos {
			font-size: 1em;
			position: absolute;
			right: 10px;
			bottom: 10px;
			color: white;
			text-shadow: 2px 2px 2px black;
			i {
				vertical-align: baseline;
			}
		}
		.remove-image {
			font-size: 1em;
			position: absolute;
			right: 0px;
			top: 0px;
			color: white;
			text-shadow: 2px 2px 2px black;
		}
	}
	.remove-comment {
		opacity: 0.2;
		&:hover {
			opacity: 0.6;
		}
	}
}
.panel-unpad-top {
	padding-top: 0px;
}
.margin-a-bit {
	margin: 5px 10px 10px 0px;
}
.add-link-container {
	&.out-view .add-link-handler {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background-color: white;
		z-index: 999;
	}
}
.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.image-list {
	img {
		display: none;
		&.showing {
			// max-width: 480px;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}
}
.label-as-badge {
	border-radius: 1em;
}
.navbar-avatar {
	display: inline-block;
	margin-right: 10px;
	margin-top: -15px;
}
.editing-navbar-avatar {
	margin-right: 10px;
	margin-top: 5px;
}
.login-avatar {
	margin-top: 5px;
	margin-right: 5px;
}
.link-card .dropdown-menu > li > a {
	text-align: left;
	i {
		margin-top: 2px;
		float: right;
		vertical-align: middle;
	}
}
.dropup .dropdown-menu {
	width: 180px;
	z-index: 9999 !important;
}