

<template name="imageList">
	<div class="image-list">
		{{#each images}}
			<img src={{imageUrl}} imageId={{this._id}} class="showable {{#if showing ../_id}}showing{{/if}}">
		{{/each}}
	</div>
	{{#if editMode}}
		<button class="btn btn-link remove-image">
			<i class="glyphicon glyphicon-remove-circle"></i>
		</button>
	{{/if}}
</template>

<template name="link">
	<div class="{{linkCardLayout}} link-card {{#if link.archived}}link-archived{{/if}}">
		<div class="panel {{#if link.archived}}panel-danger{{else}}panel-default{{/if}}">
			{{#if link.images.length}}
	    	<div class="panel-image no-select">
					{{> imageList images=link.images _id=link._id}}
				</div>
			{{else}}
				{{#if link.image}}
		    	<div class="panel-image no-select">
						<img src="{{link.image}}" alt="{{link.title}}" class="single-image" />
		    	</div>
				{{/if}}
			{{/if}}
	    <div class="panel-heading no-select">
				{{#if and userIsOwner editMode}}
					{{> editableText context=link collection="links" field="title" substitute=link.url acceptEmpty=true options=bootstrapify}}
				{{else}}
					<a href="{{link.url}}" target="_blank">
      			<h4>
							{{eitherMaxLength link.title link.url 80}}
						</h4>
      		</a>
				{{/if}}
	    </div>
	    {{#if showShare}}
	    	{{> sharePanelBody}}
	    {{/if}}
		  {{> comments}}
	    {{#if currentUser}}
	    	<div class="panel-footer">
	    		{{> addCommentForm}}
	    	</div>
	    {{/if}}
	  </div>
	</div>
</template>

<template name="sharePanelBody">
  <div class="panel-body">
  	<div class="input-group">
    	<input type="text" readonly class="form-control share-input" value="{{shareUrl}}" />
    	<span class="input-group-btn">
    		<a href="{{shareify 'facebook' shareUrl}}" class="btn btn-default" target="_blank">
    			<span class="fa fa-facebook-official"></span>
    		</a>
    		<a href="{{shareify 'twitter' shareUrl}}" class="btn btn-default" target="_blank">
    			<span class="fa fa-twitter-square"></span>
    		</a>
    	</span>
  	</div>
  </div>
</template>