
<template name="lists">
	<div class="container-fluid">
		{{#unless currentUser}}
			<div class="masonry-brick">
				<div class="alert alert-warning">Register/Login to create your own lists and comment on others.</div>
			</div>
		{{/unless}}
		{{#each this}}
			{{> list}}
		{{/each}}
	</div>
</template>

<template name="list">
	<div class="row">
		<div class="panel panel-default">
			{{#if name}}
				<div class="panel-heading">
					<h2 class="panel-title">
						{{#if and userIsOwner editMode}}
							{{> editableText context=this collection="lists" field="name"}}
						{{else}}
							{{this.name}}
						{{/if}}
					</h2>
				</div>
			{{/if}}
			<div class="panel-body">
				<div class="masonry-wall">
				  {{#each links}}
				  	{{> link link=this}}
				  {{/each}}
				</div>
			</div>
			{{#if userIsOwner}}
				<div class="panel-footer">
				  {{> addLinkForm}}
				</div>
			{{/if}}
		</div>
	</div>
</template>

<template name="addLinkForm">
	<div class="masonry-brick">
		<form class="add-link-form">
	    <div class="input-group">
	      <input type="text" class="form-control add-link-url" placeholder="Enter url(s) or text of profile-item content...">
	      <span class="input-group-btn">
	        <button class="btn btn-default add-link-button"><i class="glyphicon glyphicon-plus"></i> Add Link</button>
	        {{#if editMode}}
	        	{{#if confirmRemoveList}}
	        		<button class="btn btn-danger remove-list"><span class="glyphicon glyphicon-remove"></span> Confirm Delete</button>
	        	{{else}}
	        		<button class="btn btn-default confirm-remove-list"><span class="glyphicon glyphicon-remove"></span> Delete List</button>
	        	{{/if}}
	        {{/if}}
	      </span>
	    </div>
	  </form>
	</div>
</template>