<template name="nav">
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{#if and userIsOwner editMode}}
          {{> avatar userId=ownerUser._id shape="circle" size="navbar" class="pull-left editing-navbar-avatar"}}
          <span class="navbar-brand">
            {{> editableText context=ownerUser collection="users" field="profile.brand" substitute=brand acceptEmpty=true options=bootstrapify}}
          </span>
        {{else}}
          <a class="navbar-brand" href="{{pathFor 'lists'}}">
            {{> avatar userId=ownerUser._id shape="circle" size="navbar" class="pull-left navbar-avatar"}} 
            {{either ownerUser.profile.brand brand}}
          </a>
        {{/if}}
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {{#if userIsOwner}}
            {{#if inArray currentRouteName showEditModeRoutes}}
              <li>
                <a class="btn btn-link toggle-editmode">
                  {{#if editMode}}
                    <i class="glyphicon glyphicon-saved"></i>
                    Finish Edits
                  {{else}}
                    <i class="glyphicon glyphicon-cog"></i>
                    Edit Mode
                  {{/if}}
                </a>
              </li>
            {{/if}}
            <li><a class="btn btn-link new-list"><i class="glyphicon glyphicon-plus"></i> New List</a></li>
          {{/if}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{#if userIsOwner}}
            <li>
              <a class="btn btn-link" href="{{pathFor 'activities'}}">
                <i class="glyphicon glyphicon-list-alt"></i>
                Activity
                {{#if unreadActivities}}
                  <span class="label label-info label-as-badge">{{unreadActivities}}</span>
                {{/if}}
              </a>
            </li>
          {{/if}}
        	{{> loginButtons}}
          {{#if currentUser}}
            {{> avatar userId=currentUser._id size="navbar" shape="circle" class="pull-right login-avatar"}}
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</template>